@model List<WebApplication1.Models.NameCountry>

<h2>All Names</h2>
<table>
    <thead>
        <tr>
            @* <th>ID</th> *@
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @* <td>@item.Id</td> *@
                <td>
                    <a href="@Url.Action("UserDetail", "Home", new { id = item.Id })">
                        @item.Name
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
